.mono {
  font-size: 0.7rem;
  font-family: monospace;
}

.biorhythm-header {
  font-size: 0.7rem;
  margin-bottom: 0.7rem;
}

.biorhythm-graph {
  font-size: 0.3rem;
  margin-top: 0.7rem;
}

.biorhythm-physical {
  color: red;
}

.biorhythm-emotional {
  color: green;
}

.biorhythm-intellectual {
  color: blue;
}

.biorhythm-divisor {
  background-color: aqua;
}

.right-pad {
  margin-right: 0.2rem;
}